$variable: 30px;

a {
    $toto: '.test';
    padding: 1em;
    padding-top: 1em;

    padding-left: 2em;

    display: inline;

    top: 0;
    left: 0;

    font-size: 2px;
    font-weight: bold;

    background: orange;

    color: pink;
    @include media('>tablet') {
        padding-top: 1em;
        padding-left: 2em;

        background: red;
    }
    @include media('>mobile') {
        padding-top: 1em;
        padding-left: 2em;

        background: red;
    }
    @if $toto==true {
        $toto: #44f;
    }
}

/* ==========================================================================
    #SHAME
========================================================================== */

/* demo */
.lost-container {}

.lost-container-row {}

.lost-row {}

.lost-column {}

.grid-12 {
    background: red;
    @include media('>=desktop') {
        @include lost-container-center( 10);
    }

    >div {
        width: 100%;
    }
}

.test2 {
    >div {
        background-color: pink;
    }

    .a {
        lost-column: 4/8 0 $lost-gutter-desktop;
    }

    .b {
        lost-column: 2/8 0 $lost-gutter-desktop;
    }

    .c {
        lost-column: 2/8 0 $lost-gutter-desktop;
    }
}

.test {
    >div {
        background-color: red;
    }

    .a {
        @include media('>=tablet') {
            @include lost-offset( 2);
            lost-column: 4/12 0 $lost-gutter-desktop;
        }
        @include media('<tablet') {
            lost-column: 6/12 0 $lost-gutter-desktop;
        }
    }

    .b {
        @include media('>=tablet') {
            lost-column: 2/12 0 $lost-gutter-desktop;
        }
        @include media('<tablet') {
            lost-column: 3/12 0 $lost-gutter-desktop;
        }
    }

    .c {
        @include media('>=tablet') {
            lost-column: 2/12 0 $lost-gutter-desktop;
        }
        @include media('<tablet') {
            lost-column: 3/12 0 $lost-gutter-desktop;
        }
    }
}

.is-sticky {
    padding: 1em;

    padding-top: 1em;
    padding-left: 2em;

    color: pink;
}

a {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
